  
/* css */
* {
  font-family: sans-serif;
  margin: 0;
}
/* navbar section */

.navbar{
width: 100%;
height: 3.9rem;
display: flex;
 padding-top: 0.9rem;
justify-content: space-around;
text-align: center;
box-shadow: rgb(0 0 0 / 8%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

.brandlogo{
width: 11.9%;
height: auto;
margin-left: 10px;
}
.brandlogo img{
  width: 100%;
}

.navbuttons{
width: 52%;
height: auto;
display: flex;
 
justify-content: space-around;
}
.navbuttons-child{
  width:auto;
  height: auto;
  
  

}
.navbuttons p{
  font-size: 19.4px;
  padding: 12px;
  font-weight: 700;
 margin-top: 10px;                     
 margin-left: 12px;
 color: #373636;
}

.signlogo{
 width: 10%;
 height: auto;
}
.signlogo-border{
  
  width: 73%;
  height: 1.91rem;
  margin-top: 0.65rem;
  margin-left: 1.3rem;
  display: flex;

  background-color: #00baf2;
  border-radius: 30px;
}
.signintext{
    width: 65%;
    height: 1.91rem;
    font-size: 17px;
  padding: 10px 0 10px 10px;
  font-weight: 700;
  color: white;
}
.signinpic{
 width: 30%;
 
height: auto;
}
.signinpic img{
  width: 105%;
  margin-top:2px ;
  
}

/* No Wallet KYC Required
😊
to pay using UPI on Paytm.
Learn more. */

/* second section */

.emoji{
  margin-left: 26rem;
  width: 45%;
  height: auto;
  margin-top: 8px;
  margin-bottom: 2.5rem;
}
.emoji1{
font-size: 0.75rem;
font-weight: 600;
color: #1a1919;
}
.emoji2 {
  font-size: 0.80rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.emoji3{
  font-size: 0.80rem;
  font-weight: 500;
  color: #333333;
}
.emoji4{
  font-size: 0.75rem;
  font-weight: 600;
  color: #1a1919;
}


/* second top */


.secondtop{
width: 100%;
height: auto;

display: flex;
 justify-content: flex-end;
}

.secondtop-child-right{
width: 50%;
height: auto;
 

}
.secondtop-child-left{
    width: 41.4%;
    height: auto;
    margin-top: 1.9rem;
    
    }
 .secondtop-child-img{
    width: 26%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 1.8rem;

 }
 .secondtop-child-heading h1{
    
     
    font-size: 57px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 0.7rem;
     
}

.secondtop-child-heading p{
    
     
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 2rem;
}
 
 
 .secondtop-child-button button{
    width: 40%;
    height: auto;
    border-radius: 33px;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 18px;
 }
 .appleplay{
  margin-right: 10px;
 }
.apple{
  font-size: 1rem;
  margin-right: 3px;
}
 .second-child-bigimg{
    width: 100%;
    height: auto;
    text-align: right;
    padding: 3rem 0;
 }
 .bigimg{
    width: 70%;
 }



/* third section */


.top {
  width: 100%;
  height: auto;
  background-color: #00baf2;
  color: white;
}
.bottom {
  width: 100%;
  height: auto;
  background-color: #0f4a8a;
  color: white;
  padding-bottom: 1.1rem;
}
.heading {
  width: 82%;
  margin: 0px auto;
  padding-top: 55px;
  padding-bottom: 20px;
  font-size: 0.82rem;
}
.top-container {
  width: 84%;
  height: auto;

  display: flex;
  justify-content: space-around;
  text-align: left;
  margin: auto;
}
.top-container-child {
  width: 14%;
  margin: 2%;
  padding-bottom: 1.5rem;
}
img {
  width: 50%;
  margin-bottom: 11px;
}
.des {
  margin: 4px 0;
  font-weight: 700;
  font-size: 0.76rem;
}
.top .desc {
  margin: 5px 0;
  font-weight: 700;
  font-size: 0.75rem;
}
.bottom .desc {
  margin: 2px 0;
  font-weight: 700;
  font-size: 0.9rem;
}
 
/* heading - Paytm payments instruments */
.instrument{
  height: 10rem;
  width: 77%;
  margin: auto;
  font-size: 1.25rem;
  padding-top: 5rem;
}

.box{
  width: 70%;
  margin: auto;
}



.a6-left-wallet{
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
}
.a6-left-wallet img{
  width: 40%;
}
.a6-left-wallet h5{
  width: 40%;
  margin-top: 1.2rem;
}
.a6-left-head{
font-size: 1.3rem;
}
.a6-left-head h2{
  margin: 1.05rem 0;
}

.a6-left-head h5{
font-size: 17.5px;
font-weight: 600;
}

.a6-left-head button{
  width: 55%;
  height: auto;
  border-radius: 33px;
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 18px;
  margin-top: 1.8rem;
}
.a6{
  display: flex;
  justify-content: space-evenly;
  
}
.a6-right img{
width: 100%;
margin-left: 1rem;
}
.a6-left{
width: 40%;
}
.a6-right{
width: 50%;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00baf2; 
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00baf2; 
  }